<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetAtlas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetAtlas.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">NetAtlas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <div class="dropdown">
                              <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
                                Publication
                              </button>
                              <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Publication" asp-action="Index">Voir les publications</a></li>
                                <li><h4 class="dropdown-header text-info">Faire une publication</h4></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Liens" asp-action="Create">Liens</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Messages" asp-action="Create">Messages</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="PhotoVideos" asp-action="Create">Photos ou vidéos</a></li>
                              </ul>
                            </div>
                            
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                              <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
                                Amitié
                              </button>
                              <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Membre" asp-action="ListeMembre">Envoyer une invitation</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Amities" asp-action="Index">Invitations</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Membre" asp-action="RetirerAmi">Liste de mes amis</a></li>
                              </ul>
                            </div>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Membre" asp-action="Login">Se connecter</a>
                        </li>
                        
                        <li class="navbar-brand text-dark " style="font-family:'Baskerville Old Face';font-weight:bold">
                            @ViewBag.Membre
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NetAtlas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
     <style>
        
*
{
    font-family: Arial, Helvetica,sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





      :root
{
    --main-color:blue;
}
.theme-color
{
    color:var(--main-color);
}

button.btn
{
    
    background: none;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}
button.btn:hover
{
    background-color: var(--main-color);
}
button a{
    text-decoration: none;
    color: var(--main-color);
}
button a:hover
{
    font-size:16px;
}

.navbar ul li a
{
    padding: 5px 15px;
    margin: 0px 5px;
}
.navbar ul li a.act, .navbar ul li a:hover
{
    background: var(--main-color);
    color: white !important;
   
}
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
