@model NetAtlas.Models.Message

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="contenu" class="control-label"></label>
                <textarea asp-for="contenu" class="form-control"></textarea>
                <span asp-validation-for="contenu" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdPublication" class="control-label"></label>
                <select asp-for="IdPublication" class="form-control" asp-items="ViewBag.IdPublication"></select>
                <span asp-validation-for="IdPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomRessource" class="control-label"></label>
                <input asp-for="nomRessource" class="form-control" />
                <span asp-validation-for="nomRessource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
