@model IEnumerable<NetAtlas.Models.Publication>

@{
    Layout = "_LayoutMembre";
}

<div class = "container">
    @foreach (var item in ViewBag.ListPub)
    {
        if(item["ressource"] is Lien)
        {
            
        }
    }
</div>